.form {
  width: 50%;
  margin: auto;
  margin-top: 120px;
  height: 600px;
}
.username > input {
  width: 90%;
  margin-left: 20px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.4s ease;
  outline: none;
}
.username > input:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 6px 5px #181818;
}
.username > h1 {
  font-size: 20px;
  margin-left: 10px;
}
.k{
  margin-top: 20px;
}
.email {
  margin-top: 20px;
}
.email > input {
  width: 90%;
  margin-left: 20px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.4s ease;
  outline: none;
}
.email > input:focus{
  border: 1px solid transparent;
  box-shadow: 0px 0px 6px 5px #181818;
}
.email > h1 {
  font-size: 20px;
  margin-left: 10px;
}
.password {
  margin-top: 20px;
}
.password > input {
  width: 90%;
  margin-left: 20px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.4s ease;
  outline: none;
}
.password > input:focus{
  border: 1px solid transparent;
  box-shadow: 0px 0px 6px 5px #181818;
}
.password > h1 {
  font-size: 20px;
  margin-left: 10px;
}
.password > p.w {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 18px;
  color: red;
}
.password > p.m {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 18px;
  color: #a1b015;
}
.password > p.s {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 18px;
  color: green;
}
.eye-cont {
  width: 40px;
  height: 29px;
  position: absolute;
  left: 65.5rem;
  margin-top: 2px;
}
.eye-cont > button {
  background-color: transparent;
  transition: 0.4s;
  border-radius: 3px;
  width: 86%;
  height: 93%;
  border: 0.5px solid #e2dede;
}
button > .icon {
  margin-top: -3px;
  margin-left: -0.9px;
}
.eye-cont > button:hover {
  background-color: #f4f4f4;
  border: 0.5px solid black;
  transition: 0.4s;
}
.selectors {
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 120px;
  height: 50px;
  width: 200px;
  left: 650px;
  gap: 10px;
  background-color: #BDBDBD;
}
.selector > button {
  border-radius: 5px;
  border: none;
  outline: 2px solid transparent;
  padding: 8px;
  transition: all 0.6s ease ;
}
.selector > button:focus{
  outline: 2px solid black;
  border-radius: 10px;
}
.selector > button.none{
  background-color: transparent;
  border: 1px solid black;
}
.selector > button.active{
  background-color: white;
  box-shadow: -5px 4px 13px 1px #000;
}
.selector > button.none:hover {
  background-color: #ECECEC;
}
.selector > button.active:hover{
  background-color: #F1F1F1;
}
.cpatcha{
  margin-top: 10px;
}
.cpatcha > input{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.4s ease;
  outline: none;
}
.show{
  width: 200px;
  height: 100px;
}
.show > button{
  text-transform: uppercase;
    transition: all .8s ease;
    background-size: 220% auto;
    color: black;
    text-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    box-shadow:  3px 5px 10px black;
    outline: 2px solid transparent;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
    opacity: 1;
}
.show > button:focus{
  outline: 2px solid #181818;
}
.show > button:hover{
  opacity: 0.8;
}
.show > div.img-c{
  width: 90%;
  height: 50px;
  border: none;
  outline: none;
  background-image: url(../Images/image.png);
  background-position: center;
  background-size: cover;
  margin-top:10px;
}
.submit{
  width: 100px;
  height: 40px;
  margin-left: 15px;
  margin-top: 20px;
}
.submit > button{
  height: 100%;
  width: 100%;
  outline: 2px solid transparent;
  border: none;
  font-weight: 700;
  color: white;
  background-color: #535252;
  box-shadow: -5px 5px 31px 1px #454545;
  border-radius: 5px;
  font-size: 22px;
  opacity: 1;
  transition: all 0.4s ease;
}
.submit > button:focus{
  outline: 2px solid #181818;
  box-shadow: -5px 5px 31px 1px transparent;
}
.submit > button:hover{
  background-color: #2C2C2C;
}