.nav-bar{
    display: flex;
    width:99%;
    height: 50px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}
.nav-bar > ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 80px;
    gap: 100px;
    align-items: start;
}
ul > li{
    margin: auto;
    margin: 10px;
    list-style: none;
    list-style-type: none;
    align-items: center;
}
li > a{
    outline:2px solid transparent;
    border-radius: 10px;
    transition: all 0.4s ease;
}
li > a:focus{
    outline: 2px solid black;
}
li > .reg{
    text-decoration: none;
    color: grey;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .3s;
    text-align: center;
}

li > .reg:hover{
    letter-spacing: 3px;
    color: black;
    font-weight: 500;
    transition: .4s;
    border-radius: 10px;
}
li > #active-2{
    color: red;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0;
    text-decoration: none;
}
li > #active-2:hover{
    color: red;
}
li > .icon{
    display: inline-block;
    margin: 0px;
}
.logo{
    width: 110px;
    height: 60px;
    background-color: transparent;
    margin-top: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.4s ease;
}
.logo:focus{
    outline: 2px solid black;
}
.logo > div{
    width: 90%;
    height: 100%;
    border: none;
    outline: 2px solid transparent;
    background-image: url(../Images/BDPA_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    transition: all .3s ease;
}
.logo > div:hover{
    background-color: #DCD8D8;
}
.line{
    width: 98.5%;
    height: 5px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 1;

}
.l-i-n{
    width: 120px;
    height: 5px;
    background-color: grey;
    position: absolute;
    top: 60px;
    transition: .3s;
    z-index: 1;
}
.l-i-a{
    width: 140px;
    height: 5px;
    background-color: red;
    transition: .4s;
    position: absolute;
    top: 60px;
    z-index: 2;
}   
