.form {
  width: 50%;
  margin: auto;
  margin-top: 40px;
  height: 600px;
}

.username > input {
  width: 90%;
  margin-left: 20px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.username > h1 {
  font-size: 20px;
  margin-left: 10px;
}
.email {
  margin-top: 20px;
}
.email > input {
  width: 90%;
  margin-left: 20px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.email > h1 {
  font-size: 20px;
  margin-left: 10px;
}
.password {
  margin-top: 20px;
}
.password > input {
  width: 90%;
  margin-left: 20px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.password > h1 {
  font-size: 20px;
  margin-left: 10px;
}
.password > p.w {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 18px;
  color: red;
}
.password > p.m {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 18px;
  color: #a1b015;
}
.password > p.s {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 18px;
  color: green;
}
.eye-cont {
  width: 40px;
  height: 29px;
  position: absolute;
  left: 65.5rem;
  margin-top: 2px;
}
.eye-cont > button {
  background-color: transparent;
  transition: 0.4s;
  border-radius: 3px;
  width: 86%;
  height: 93%;
  border: 0.5px solid #e2dede;
}
button > .icon {
  margin-top: -3px;
  margin-left: -0.9px;
}
.eye-cont > button:hover {
  background-color: #f4f4f4;
  border: 0.5px solid black;
  transition: 0.4s;
}
.selectors {
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 90px;
  height: 50px;
  width: 200px;
  left: 650px;
  gap: 10px;
  background-color: #e7e3e3;
}
.selector > button {
  transform-style: preserve-3d;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 8px;
  transition: background-color 1s ease 0s;
}
.selector > button.none{
  background-color: white;
}
.selector > button.active{
  box-shadow: 0 23px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
}
.selector > button.none:hover {
  background-color: #C2C1C1;
}
.selector > button.active:hover{
  background-color: #EFEFEF;
}