.nav-bar{
    display: flex;
    width:99%;
    height: 50px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}
.nav-bar > ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 80px;
    gap: 100px;
    align-items: start;
}
ul > li{
    margin: auto;
    margin: 10px;
    list-style: none;
    list-style-type: none;
    align-items: center;
}

li > .reg{
    text-decoration: none;
    color: grey;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .3s;
    text-align: center;
}

li > .reg:hover{
    letter-spacing: 3px;
    color: black;
    font-weight: 500;
    transition: .4s;
    border-radius: 10px;
}
li > #active-2{
    color: red;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0;
    text-decoration: none;
}
li > #active-2:hover{
    color: red;
}
li > .icon{
    display: inline-block;
    margin: 0px;
}
#button{
    position: absolute;
    top: 17px;
    right: 20px;
    text-align: center;
    width: 150px;
    height: 35px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    outline: none;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to right, #FF1493 0%, #C71585 51%, #FC15E7 100%);
  }
  #button:hover{
    background-position: right bottom;
  }

.line{
    width: 98.5%;
    height: 5px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 1;

}
.l-i-n{
    width: 120px;
    height: 5px;
    background-color: grey;
    position: absolute;
    top: 60px;
    transition: .3s;
    z-index: 2;
}
.l-i-a{
    width: 190px;
    height: 5px;
    background-color: red;
    transition: .4s;
    position: absolute;
    top: 60px;
    z-index: 2;
}